<html>
<head>
	<meta charset="UTF-8">
</head>
<body>
	<footer id="footer" th:fragment="footer">
    	<div>  Siga-me nas redes sociais</div>
    	<div>
        	<ul>
            	<li><a href="https://linkedin.com/in/gabriel-de-paula-santana-b91060211" target="_blank"> <img src="imagens/linkedin.png" alt=""></a> </li>
            	<li><a href="https://github.com/GabrielSantana7791" target="_blank"> <img src="imagens/git.png" alt=""></a> </li>
            	<li><a href="https://www.facebook.com/gabriel.depaulasantana/" target="_blank"> <img src="imagens/facebook.png" alt=""></a> </li>
        	</ul>
    	</div>
    </footer>
</body>
</html>
