<div class="container" th:fragment="section">
	<div class="container bg-light" id="popularNews">

		<div class="row album py-5 justify-content-center" align="center">
			<div class="title">
				<h4>Popular News</h4>
			</div>

			<div class="col-auto">
				<div th:if="${top3.length >= 1}" class="card mb-4 box-shadow">
					<img class="card-img-top" th:src="${top3[0].imgURL}" width="200"
						height="200">
					<div class="card-body">
						<a th:href="@{postCode/} + ${top3[0].id}" class="h6"
							th:text="${top3[0].title}"></a>
						<p th:text="${top3[0].summary}"></p>
						<p th:text="@{Visualizações:} + ' ' + ${top3[0].viewNumber}"></p>
					</div>
				</div>
				<div th:unless="${top3.length >= 1}" class="card mb-4 box-shadow">
					<img class="card-img-top"
						src="https://img.freepik.com/fotos-gratis/imagem-aproximada-em-tons-de-cinza-de-uma-aguia-careca-americana-em-um-fundo-escuro_181624-31795.jpg?w=2000"
						width="200" height="200">
					<div class="card-body">
						<h6>Empty post</h6>
						<p>Empty post</p>
					</div>
				</div>
			</div>

			<div class="col-auto">
				<div th:if="${top3.length >= 2}" class="card mb-4 box-shadow">
					<img class="card-img-top" th:src="${top3[1].imgURL}" width="200"
						height="200">
					<div class="card-body">
						<a th:href="@{postCode/} + ${top3[1].id}" class="h6"
							th:text="${top3[1].title}"></a>
						<p th:text="${top3[1].summary}"></p>
						<p th:text="@{Visualizações:} + ' ' + ${top3[1].viewNumber}"></p>
					</div>
				</div>
				<div th:unless="${top3.length >= 2}" class="card mb-4 box-shadow">
					<img class="card-img-top"
						src="https://img.freepik.com/fotos-gratis/imagem-aproximada-em-tons-de-cinza-de-uma-aguia-careca-americana-em-um-fundo-escuro_181624-31795.jpg?w=2000"
						width="200" height="200">
					<div class="card-body">
						<h6>Empty post</h6>
						<p>Empty post</p>
					</div>
				</div>
			</div>

			<div class="col-auto">
				<div th:if="${top3.length >= 3}" class="card mb-4 box-shadow">
					<img class="card-img-top" th:src="${top3[2].imgURL}" width="200"
						height="200">
					<div class="card-body">
						<a th:href="@{postCode/} + ${top3[2].id}" class="h6"
							th:text="${top3[2].title}"></a>
						<p th:text="${top3[2].summary}"></p>
						<p th:text="@{Visualizações:} +' ' + ${top3[2].viewNumber}"></p>
					</div>
				</div>
				<div th:unless="${top3.length >= 3}" class="card mb-4 box-shadow">
					<img class="card-img-top"
						src="https://img.freepik.com/fotos-gratis/imagem-aproximada-em-tons-de-cinza-de-uma-aguia-careca-americana-em-um-fundo-escuro_181624-31795.jpg?w=2000"
						width="200" height="200">
					<div class="card-body">
						<h6>Empty post</h6>
						<p>Empty post</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row album py-5 justify-content-center" align="center">
		<div>
			<h4>Latest news</h4>
		</div>
		<div class="col-auto" th:each="PostIndex: ${section}">
			<div class="card mb-4 box-shadow">
				<img class="card-img-top" th:src="${PostIndex.imgURL}" width="200"
					height="200">
				<div class="card-body">
					<a th:href="@{postCode/} + ${PostIndex.id}" class="h6"
						th:text="${PostIndex.title}"></a>
					<p th:text="${PostIndex.summary}"></p>
				</div>
			</div>
		</div>


	</div>
</div>