<div class="container" th:fragment="section">
	<form action="/addPost" method="post" id="conteudo">
		<label>Title</label> <input required type="text" name="title"> <br>
		<textarea class="form-control" required rows="1" cols="1" name="text"></textarea>
		<input required type="date" name="dateStr"> <br>
		<input required type="text" name="summary" placeholder="Summary">
		<input required type="text" name="imgURL" placeholder="Image's URL">
		<button class="btn btn-primary" type="submit">New post</button>
	</form>
</div>