<meta charset="UTF-8">
<div class="container" th:fragment="section">
	<div class="border border-secondary mb-3 bor"
		th:each="PostIndex: ${section}">
		<a class="h3" href="#" th:href='@{/postCode/} + ${PostIndex.id}'
			th:text="${PostIndex.title}"></a>
		<p th:utext='${PostIndex.text}'></p>
		<p class="h3" th:text="${PostIndex.date}" th:field="cavalo">
		<div th:replace="~{/fragments/postFooter :: ${session.userLevel}}"></div>

		<form th:if="${session.user != null}"
			th:action="@{/newComment/} + ${PostIndex.id}"
			method="post">
			<input type="text" name="text">
			<button type="submit" th:name="cavalo" th:value="${session.user}">Postar comentário</button>
		</form>

		<form action="/login" method="get" th:unless="${session.user != null}">
			<button type="submit">Logar para comentar</button>
		</form>

		<div th:if="${comments} != null" th:each="Comment: ${comments}">
			<label value="pop" th:text="${Comment.getUser.getUserName()} + @{:}"></label>
			<p th:text="${Comment.getText()}"></p>

		</div>


	</div>
</div>